<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings>
		<add name="AdventureWorksContext" connectionString="metadata=res://*/FriendlyFeeds.EF.AdventureWorks.csdl|res://*/FriendlyFeeds.EF.AdventureWorks.ssdl|res://*/FriendlyFeeds.EF.AdventureWorks.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|AdventureWorksLT.mdf;Integrated Security=True;User instance=true;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
		<add name="ServerDrivenPagingContext" connectionString="metadata=&quot;res://*/02 - Server-Driven Paging.ServerDrivenPagingModel.csdl|res://*/02 - Server-Driven Paging.ServerDrivenPagingModel.ssdl|res://*/02 - Server-Driven Paging.ServerDrivenPagingModel.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|AdventureWorksLT.mdf;Integrated Security=True;User instance=true;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
		<add name="BLOBStreamContext" connectionString="metadata=&quot;res://*/05 - BLOB Streams.EF.BLOBStreamModel.csdl|res://*/05 - BLOB Streams.EF.BLOBStreamModel.ssdl|res://*/05 - BLOB Streams.EF.BLOBStreamModel.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|AdventureWorksLT.mdf;Integrated Security=True;User instance=true;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
		<add name="RowCountContext" connectionString="metadata=&quot;res://*/01 - Row Count.RowCountModel.csdl|res://*/01 - Row Count.RowCountModel.ssdl|res://*/01 - Row Count.RowCountModel.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|AdventureWorksLT.mdf;Integrated Security=True;User instance=true;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/></assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
	</system.serviceModel>
</configuration>
