<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="traceListener"
              type="System.Diagnostics.TextWriterTraceListener"
              initializeData= "c:\log\Client.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMyContract">
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IMySessionContract">
          <reliableSession inactivityTimeout="00:25:00" enabled="true" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:46134/MyService.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IMyContract" contract="IMyContract"
          name="BasicHttpBinding_IMyContract" />
      <endpoint address="http://localhost:14617/MySessionService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IMySessionContract" contract="IMySessionContract">
        <!--<identity>
          <userPrincipalName value="butterfly\Helen" />
        </identity>-->
      </endpoint>
      <endpoint address="http://localhost:44977/MySingleton.svc/session"
               binding="wsHttpBinding" contract="IMySingletonContract" name="WSHttpBinding_IMySingletonContract">
        <!--<identity>
          <userPrincipalName value="butterfly\Helen" />
        </identity>-->
      </endpoint>
      <endpoint address="http://localhost:44977/MySingleton.svc/percall"
                binding="basicHttpBinding" contract="IMyOtherSingletonContract" name="BasicHttpBinding_IMyOtherSingletonContract" />
    </client>
  </system.serviceModel>
</configuration>