<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMyContract">
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:46134/MyService.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IMyContract" contract="IMyContract"
          name="BasicHttpBinding_IMyContract" />
      <endpoint address="http://localhost:14617/MySessionService.svc" binding="wsHttpBinding" contract="IMySessionContract">
        <!--<identity>
          <userPrincipalName value="butterfly\Helen" />
        </identity>-->
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>