<?xml version="1.0"?>
<configuration>

    <system.web>
        <compilation targetFramework="4.0" />
    </system.web>
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true" />
    </system.webServer>
  <appSettings>
    <add key="EnvironmentName" value="Staging" />
  </appSettings>

  <connectionStrings>
    <add name="LoggingConnectionString" connectionString="Server=QADatabaseServer;Database=Logging;Integrated Security=SSPI" providerName="System.Data.SqlClient”" />
  </connectionStrings>

</configuration>
