<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:6366/OneWayService.svc" binding="basicHttpBinding"
          contract="IOneWayService" name="BasicHttpBinding_IOneWayService" />
    </client>
  </system.serviceModel>
</configuration>