<?xml version="1.0"?>
<ApplicationConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Sections>
    <item>
      <key>
        <string>ConnectionStrings</string>
      </key>
      <value>
        <string>ConnectionStrings.xml</string>
      </value>
    </item>
    <item>
      <key>
        <string>AllowedUsers</string>
      </key>
      <value>
        <string>AllowedUsers.xml</string>
      </value>
    </item>
  </Sections>
</ApplicationConfiguration>