<?xml version="1.0"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt= "http://schemas.microsoft.com/XML-Document-Transform">
  <!--Modify the BaseURI key -->
  <appSettings>
    <add key="BaseURI" value="http://localhost/HRApplicationServices" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <system.serviceModel>
    <client>
      <!--Modify the endpoint addresses for production -->
      <endpoint address="http://localhost/HRApplicationServices/SubmitApplication.xamlx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IApplicationService"
                contract="IApplicationService" name="BasicHttpBinding_IApplicationService" 
                xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
