<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <connectionStrings>
    <add name="RowCountContext" connectionString="metadata=&quot;res://*/01 - Row Count.RowCountModel.csdl|res://*/01 - Row Count.RowCountModel.ssdl|res://*/01 - Row Count.RowCountModel.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\AdventureWorksLT.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ServerDrivenPagingContext" connectionString="metadata=&quot;res://*/02 - Server-Driven Paging.ServerDrivenPagingModel.csdl|res://*/02 - Server-Driven Paging.ServerDrivenPagingModel.ssdl|res://*/02 - Server-Driven Paging.ServerDrivenPagingModel.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\AdventureWorksLT.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="BLOBStreamContext" connectionString="metadata=&quot;res://*/05 - BLOB Streams.EF.BLOBStreamModel.csdl|res://*/05 - BLOB Streams.EF.BLOBStreamModel.ssdl|res://*/05 - BLOB Streams.EF.BLOBStreamModel.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\AdventureWorksLT.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
</configuration>