<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WindowsClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <applicationSettings>
    <WindowsClient.Properties.Settings>
      <setting name="WindowsClient_localhost_Employees_x0020_Service"
        serializeAs="String">
        <value>http://localhost:2017/WebServices3/EmployeesService.asmx</value>
      </setting>
    </WindowsClient.Properties.Settings>
  </applicationSettings>
</configuration>