<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<compilation debug="true"/>
		<authentication mode="Forms" />

        <membership defaultProvider="XmlMembership">
            <providers>
                <add name="XmlMembership"
                     applicationName="MyTestApp"
                     fileName="MyTestApp_Users.config"
                     type="APress.ProAspNet.Providers.XmlMembershipProvider, APress.ProAspNet.Providers"
                     requiresQuestionAndAnswer="true"/>
            </providers>
        </membership>

        <roleManager enabled="true"
                     defaultProvider="XmlRoles">
            <providers>
                <add name="XmlRoles"
                     applicationName="MyTestApp"
                     fileName="MyTestApp_Roles.config"
                     type="APress.ProAspNet.Providers.XmlRoleProvider, APress.ProAspNet.Providers" />
            </providers>
        </roleManager>
        
	</system.web>
</configuration>
