<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <!-- Setting used by Custom Activity for generating links in email-->
    <add key="BaseURI" value="http://localhost:62305"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <!-- For testing drop emails in pickup directory -->
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\mailbox"/>
      </smtp>
    </mailSettings>
  </system.net>

  <connectionStrings>
    <add name="HRApplicationDataEntities" connectionString="metadata=res://*/HRApplicationDataEntities.csdl|res://*/HRApplicationDataEntities.ssdl|res://*/HRApplicationDataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=HRApplicationData;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="WF4Persistence" connectionString="Data Source=.\sqlexpress;Database=WF4Persistence;Integrated Security=True" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <sqlWorkflowInstanceStore connectionStringName="WF4Persistence" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
