<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <appSettings>
        <add key="CredentialStoreClass" value="CredentialsStore, CredentialStoreNamespace.DatabaseCredentialStore"/>
    </appSettings>
    <connectionStrings>
        <add name="MyLoginDb" connectionString="data source=(local);Integrated Security=SSPI;initial catalog=MyLoginDb "/>
    </connectionStrings>
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true"/>
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Forms">
            <forms name="MyCookieName" loginUrl="GenericLogin.aspx" timeout="2">
                <credentials passwordFormat="SHA1">
                    <user name="admin"   password="D5E1D25B41F180BF4EDC1D2830A31FF7471551DD" />
                    <user name="mario"   password="C4EF609C4997515F677E93349D00CF5FE28ADF1A" />
                    <user name="matthew" password="3C4F8EA4B8B21F5729363C836CC0DDFC21EA2641" />
                </credentials>
            </forms>
        </authentication>

        <authorization>
            <deny users="?" />
        </authorization>
        
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
        </customErrors>
    </system.web>
</configuration>
