<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:46134/MyService.svc" binding="basicHttpBinding"
          contract="IMyContract" name="BasicHttpBinding_IMyContract" />
    </client>
  </system.serviceModel>
</configuration>