<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IContractManager">
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/PersonService/ContractManager.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContractManager"
          contract="IContractManager" name="BasicHttpBinding_IContractManager" />
    </client>
  </system.serviceModel>
</configuration>