<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <connectionStrings>
        <add name="DemoSql" connectionString="data source=(local);Integrated Security=SSPI;initial catalog=ExtendedUser"/>
    </connectionStrings>
    <system.web>
        <compilation debug="true">
            <assemblies>
                <add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
            </assemblies>
        </compilation>
        <authentication mode="Forms"/>
    </system.web>
</configuration>
