<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Setting used by Custom Activity for generating links in email-->
    <add key="BaseURI" value="http://localhost:62305"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <!-- For testing drop emails in pickup directory -->
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\mailbox"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <connectionStrings>
    <!-- Connection string for HR application data -->
    <add name="HRApplicationDataEntities" connectionString="metadata=res://*/HRApplicationDataEntities.csdl|res://*/HRApplicationDataEntities.ssdl|res://*/HRApplicationDataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=HRApplicationData;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>
