<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMyContract">
        </binding>
        <binding name="BasicHttpBinding_IMyOtherContract"  >
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="temp">
          <reliableSession enabled="true"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/MyService.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IMyContract" contract="IMyContract"
          name="BasicHttpBinding_IMyContract" />
      <endpoint address="http://localhost:8080/MyService.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IMyOtherContract" contract="IMyOtherContract"
          name="BasicHttpBinding_IMyOtherContract" />
    </client>
    <services>
      <service name="MyContractClient" behaviorConfiguration="MEX">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8002/MyService"/>
            <add baseAddress="net.tcp://localhost:8004/"/>
            <add baseAddress="net.pipe://localhost/"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="IMyContract" />
        <!--mex endpoints-->
        <endpoint address="MEX" binding="mexTcpBinding" contract="IMetadataExchange" />
        <endpoint address="MEX" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
        <endpoint address="MEX" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="MyOtherContractClient">
        <!--this endpoint was added programmaticaly-->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/MyOtherService"/>
            <add baseAddress="net.tcp://localhost:8005/"/>
          </baseAddresses>
        </host>
        <!--<endpoint address="" binding="basicHttpBinding" contract="IMyOtherContract" />-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MEXGET">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="MEX">
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>