<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings/>
	<connectionStrings>
		<add name="MyMembershipConnString" connectionString="data source=(local)\S2K;Integrated Security=SSPI;initial catalog=aspnetdb"/>
	</connectionStrings>
    
	<system.web>
		<compilation debug="true"/>
        <authentication mode="Forms">
            <forms loginUrl="login2.aspx" />
        </authentication>

        <profile>
            <properties>
                <add name="Firstname" />
                <add name="Lastname" />
                <add name="Age" type="System.Int16" />
            </properties>
        </profile>

		<membership defaultProvider="MyMembershipProvider">
			<providers>
				<add name="MyMembershipProvider" 
                     connectionStringName="MyMembershipConnString" 
                     applicationName="MyMembership" 
                     enablePasswordRetrieval="false" 
                     enablePasswordReset="true" 
                     requiresQuestionAndAnswer="true" 
                     requiresUniqueEmail="true" 
                     passwordFormat="Hashed" 
                     type="System.Web.Security.SqlMembershipProvider" />
			</providers>
		</membership>
	</system.web>
</configuration>
