<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AdventureWorksLT_DataEntities" connectionString="metadata=res://*/AdventureWorksLT.csdl|res://*/AdventureWorksLT.ssdl|res://*/AdventureWorksLT.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQLEXPRESS2008;AttachDbFilename=&quot;C:\Users\wahlind\Desktop\Microsoft Labs\Lab1 - Windows Forms\CustomerViewer\CustomersService\App_Data\AdventureWorksLT_Data.mdf&quot;;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>