<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service
        name="Microsoft.Samples.Discovery.ChatService">
        <endpoint
          address=""
          binding="wsHttpBinding"
          contract="ISimpleChatService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
