<?xml version="1.0"?>
<configuration>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="CalculatorService" >
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint name="regularCalculatorEndpoint"
       address="net.tcp://localhost:9090/CalculatorService"
       binding="netTcpBinding"
       bindingConfiguration="CalculatorService"
       contract="*" />
		</client>
		<behaviors>
			<serviceBehaviors>
				<behavior name="routingConfiguration">
					<routing routeOnHeadersOnly="true" filterTableName="filterTable1" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<routing>
			<filters>
				<filter name="MatchAllFilter" filterType="MatchAll" />
			</filters>
			<filterTables>
				<filterTable name="filterTable1">
					<add filterName="MatchAllFilter"
       endpointName="regularCalculatorEndpoint"
       priority="0"/>
				</filterTable>
			</filterTables>
		</routing>
		<services>
			<service behaviorConfiguration="routingConfiguration"
      name="System.ServiceModel.Routing.RoutingService">
				<endpoint address="general"
        binding="basicHttpBinding"
        name="routerEndpoint1"
        contract="System.ServiceModel.Routing.IRequestReplyRouter" />
				<endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />

			</service>
		</services>
	</system.serviceModel>

</configuration>

