<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <appSettings/>
    <connectionStrings>
        <add name="CustomSqlConnection" connectionString="server=localhost\SQL2000;Trusted_Connection=yes;database=aspnetdb"/>
        <add name="CustomerDatabase" connectionString="Data Source=(local)\SQL2005;Initial Catalog=WebPartsTest;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true"/>
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows"/>
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
        -->

        <!--webParts>
            <personalization defaultProvider="MyProvider">
                <authorization>
                    <allow roles="BUILTIN\Administrators"/>
                    <deny roles="BUILTIN\Guests" />
                </authorization>
                <providers>
                    <add name="MyProvider"
						 type="System.Web.UI.WebControls.WebParts.SqlPersonalizationProvider"
						 connectionStringName="CustomSqlConnection" />
                </providers>
            </personalization>
        </webParts-->
    </system.web>
</configuration>
