<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMyContract">

        </binding>
        <binding name="BasicHttpBinding_IMyOtherContract">
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/MyService.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IMyContract" contract="IMyContract"
          name="BasicHttpBinding_IMyContract" />
      <endpoint address="http://localhost:8080/MyService.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IMyOtherContract" contract="IMyOtherContract"
          name="BasicHttpBinding_IMyOtherContract" />
    </client>
  </system.serviceModel>
</configuration>