<?xml version="1.0" encoding="utf-8"?><ArrayOfSimpleUser xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><SimpleUser><UserKey>d3e2af82-d54f-4a3a-afbf-09f7872dbdfc</UserKey><UserName>test</UserName><Password>B56F5F86AC29E08D6100DD84ABC2BAA21EEAEA6D</Password><PasswordSalt>3nk2BADzChygPbIjzV3TLg==</PasswordSalt><Email>hello@test.at</Email><CreationDate>2005-08-19T10:30:49.584896+02:00</CreationDate><LastActivityDate>2005-08-19T10:30:49.634968+02:00</LastActivityDate><LastLoginDate>2005-08-19T10:30:49.634968+02:00</LastLoginDate><LastPasswordChangeDate>2005-08-19T10:30:49.584896+02:00</LastPasswordChangeDate><PasswordQuestion>na</PasswordQuestion><PasswordAnswer>net</PasswordAnswer></SimpleUser></ArrayOfSimpleUser>