<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service
        name="Microsoft.Samples.Discovery.ChatService" behaviorConfiguration="DiscoveryBehavior">
        <endpoint
          address=""
          binding="wsHttpBinding"
          contract="ISimpleChatService"/>
        <endpoint
          name="udpDiscoveryEpt"
          kind="udpDiscoveryEndpoint"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DiscoveryBehavior">
          <serviceDiscovery />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
