<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="CalculatorService" >
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:9090/CalculatorService"
          binding="netTcpBinding" bindingConfiguration="CalculatorService"
          contract="CalculatorServiceReference.ICalculatorService" name="CalculatorService" />
    </client>
  </system.serviceModel>
</configuration>