<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WindowsClient.Properties.Settings />
    </userSettings>
    <applicationSettings>
        <WindowsClient.Properties.Settings>
            <setting name="WindowsClient_localhost_EmployeesService" serializeAs="String">
                <value>http://localhost/WebServices2/EmployeesService.asmx</value>
            </setting>
            <setting name="WindowsClient_localhost1_SessionHeaderService"
                serializeAs="String">
                <value>http://localhost/WebServices2/SessionHeaderService.asmx</value>
            </setting>
        </WindowsClient.Properties.Settings>
    </applicationSettings>
</configuration>